$light-green: #25af59;
$green: #139a3e;
// $light-pink: #f3a69e; 
$light-pink: #f4f752; 
$pink: #ffd000;
$yellowish: #eddec1;
* {
  box-sizing: border-box;
}

body {
  background-color: $yellowish;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  position: relative;
  width: 200px;
  height: 400px;
  margin: 0 auto;
}

.tulip {
  width: 10px;
  height: 400px;
  margin: 30px 100px;
  float: left;
  animation: sway 3s infinite ease-in-out;
}

.leftBabyTulip{
  transform:scale(.6);
  left: -153px;
  top: 74px;
  .rightStemLeaf{
    top: 105px;
    transform: rotate(-32deg);
    left: -15px;
  }
  leftStemLeaf{
    transform: scale(0.7) rotate(90deg);
    left: -54px;
  }
}

.rightBabyTulip{
  transform:scale(.8);
  left: 163px;
  top: 42px;
  .tulipHead{
    transform: rotate(23deg);
    left: -80px;
  }
  .leftStemLeaf{
    visibility: hidden;
  }
  .rightStemLeaf{
    top: 70px;
    transform: rotate(-32deg);
    left: -15px;
  }
}

.tulip,
.stem,
.stemLeaf,
.tulipHead,
.tulipLeaf,
.tulipHair,
.tulipEyes,
.tulipSmile,
.tulipBlush {
  position: absolute;
}

.stem {
  height: 200px;
  width: 10px;
  border-radius: 50px;
  background-color: $light-green;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.stemLeaf {
  background-color: $green;
  width: 60px;
  height: 60px;
}

.leaf {
  border-radius: 90% 0 90% 0;
}

.rightStemLeaf {
  top: 60%;
  width: 100px;
  transform: rotate(-10deg);
  left: -1px;
}

.leftStemLeaf {
  top: 20%;
  width: 80px;
  transform: rotate(90deg);
  left: -63px;
  z-index: -2;
}

//Tulip Head
.tulipHead {
  top: -159px;
  left: -102px;
  background-color: $light-pink;
  width: 200px;
  height: 165px;
  border-radius: 0 0 50% 50%;
  z-index: 0;
  transform: rotate(-11deg);
}

.tulipLeaf {
  background-color: $pink;
  width: 40px;
  height: 40px;
  z-index: -1;
}

.rightTulipLeaf {
  transform: rotate(90deg);
  left: 4px;
}

.leftTulipLeaf {
  left: -33px;
}

$hair-size:30px;
.tulipHair {
  width: 0;
  height: 0;
  top: -60px;
  border-left: $hair-size solid transparent;
  border-right: $hair-size solid transparent;
  border-bottom: $hair-size * 2 solid $light-pink;
}

.lightTulip {
  border-bottom: $hair-size * 2 solid $light-pink;
}

.darkTulip {
  border-bottom: $hair-size * 2 solid $pink;
  border-bottom: 32px solid $light-pink;
  top: -32px;
  z-index: -1;
}

.darkTulip-1 {
  left: $hair-size;
}

.darkTulip-2 {
  left: $hair-size*3.69;
}

.lightTulip-1 {
  transform: rotate(-27deg);
  top: -43px;
  left: -17px;
}

.lightTulip-2 {
  left: 70px;
}

.lightTulip-3 {
  transform: rotate(27deg);
  top: -43px;
  left: 156px;
}

.tulipEyes {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
  top: 55px;
}

.leftEye {
  left: 69px;
}

.rightEye {
  left: 119px;
}

.tulipSmile {
  $width: 37px;
  width: $width;
  height: $width / 2;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 5px solid #222;
  transform: rotate(180deg);
  top: 73px;
  left: 81px;
  border-bottom: 0;
}

.tulipBlush {
  $size: 30px;
  border-radius: 50%;
  background-color: $pink;
  width: $size;
  height: $size;
}

.leftBlush {
  top: 66px;
  left: 44px;
}

.rightBlush {
  top: 66px;
  left: 123px;
}

.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.message {
  
  text-align: center;
  font-size: 1.5em;
  color: #333;
  font-style: italic;
  width: 50%;
}

.sticker-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.sticker {
  margin: 0;
  text-align: center;
  font-size: 2em;
  color: #333;
  width: 50%;
  font-weight: 700;
}

.sdd{
  width: 100%;
  margin: 0;
}
.header {
  text-align: center;
  margin-top: 20px;
}

.header h1 {
  font-size: 4em;
  font-family: 'Dancing Script', cursive; /* Usa una fuente bonita */
  color: #ff8081;
  display: inline-block;
  margin: 0;
}

.kiss {
  font-size: 3em;
  margin-left: 10px;
  vertical-align: middle;
}

/* Estilos para las decoraciones */
#decorative-stickers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Para que no interfieran con los clics */
  z-index: -1; /* Para que estén detrás del contenido */
}

.decorative-sticker {
  position: absolute;
  width: 50px; /* Tamaño de los stickers */
  height: 50px;
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes sway {
  0%, 100% {
      transform: rotate(-2deg);
  }
  50% {
      transform: rotate(2deg);
  }
}

@media (max-width: 800px) {

  .container{
    position: relative;
    width: 200px;
    height: 400px;
    margin: 0 auto;
    transform: scale(0.6); /* Reduce el tamaño del bouquet */
  }

  .message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .message {
    font-size: 1.1em; /* Reduce el tamaño del texto */
    width: 80%; /* Hace que el texto ocupe más espacio */
  }
  .sticker {
    font-size: 1.1em; /* Reduce el tamaño del texto */
    width: 80%; /* Hace que el texto ocupe más espacio */
  }

  .header h1 {
    font-size: 2.5em;
  }

  .kiss {
    font-size: 2em;
  }

  .decorative-sticker {
    width: 30px;
    height: 30px;
  }
}



